* { padding: 0; margin: 0; box-sizing: border-box; font-size: 12px }
li { list-style-type: none; }
body { background: #F0ECEC;width: 100%; height: 100%; }
a { color: #110D0D;text-decoration: none; }
.title { font-size: 1.5rem;}
input, select { outline: none};
.mint-cell-title {text-align: left;}
.searchBtn {margin: 1rem 0;width: 100%;height: 3rem;background-color: #5495E6;line-height: 3rem;
            text-align: center;
            color: #FFFFFF;
            border: none;
            font-size :1.2rem;
            border-radius: 0.3rem;}